* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  height: 100%;
  overflow-x: hidden;
  background: radial-gradient(circle at center, #000000, #110016);
  color: white;
}

#hero {
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
}

#hero-text {
  margin-top: 22%;
  font-size: 4rem;
  color: rgba(255,255,255,0.6);
  text-align: center;
  text-shadow:
    1px 1px 2px rgba(0,0,0,0.5) inset,
    -1px -1px 2px rgba(255,255,255,0.2) inset;
}

#scroll-down {
  margin-top: 400px;
  justify-self: center;
    bottom: 2rem;
    font-size: 1rem;
    color: rgba(255,255,255,0.7);
    opacity: 1;
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


#links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 2rem;
  min-height: 100vh;
}

.code-link {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 12px;
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  transition: 0.3s;
  text-align: center;
}

.code-link2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 12px;
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  transition: 0.3s;
  text-align: center;
}

.code-link.hash { color: #569CD6; }
.code-link.angle { color: #C586C0; }
.code-link.amp   { color: #9CDCFE; }

.code-link2.hash { color: #569CD6; }
.code-link2.angle { color: #C586C0; }
.code-link2.amp   { color: #9CDCFE; }

.code-link:hover {
  background: rgba(255,255,255,0.2);
  scale: 110%;  
  transition: background 0.3s, transform 0.3s, scale 0.3s;

}

.code-link2:hover {
  background: rgba(255,255,255,0.2);
  scale: 110%;
  transition: background 0.3s, transform 0.3s, scale 0.3s;
}

.titulo {
  font-size: 4rem;
  text-align: center; 
  margin-top: 2rem;
  color: white;
  text-decoration: none;
}

#links2 {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 2rem;
}

#myTools {
  font-size: 2rem;
  text-align: center; 
  margin-top: 4rem;
  margin-bottom: 2rem;
  opacity: 0.75;
}

  .tools-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 600px;
    margin: 32px auto;
  }
  .tool-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .tool-item img {
    max-width: 64px;
    max-height: 64px;
  }
